.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.text-gradient{
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(255, 85, 241), rgb(230, 243, 243));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background{
  background: linear-gradient(30deg, #040613 0%, #0f00dd 50%, #045788 100%);
    background-size: 200%;
    animation: aurora 10s infinite;
}

@keyframes aurora {
  0% {
      background-position: left top;
  }
  25% {
      background-position: right top;
  }
  50% {
      background-position: right bottom;
  }
  75% {
      background-position: left bottom;
  }
  100% {
      background-position: left top;
  }
}

/* body{
  background: linear-gradient(30deg, #040613 0%, #000000 30%, #011052 70%);
    background-size: 200%;
   
  
} */

body{
  background-color: #110f2f;
}
.btn-gradc {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
  .btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
  .btn-grad {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     
    
     display: block;
   }

   .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  


.blue{
  background-color: #0854BC;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container ul {
  margin: 0;
  margin-top:10%;
  list-style: none;
  position: relative;
  padding: 5% 15%;
  color: #fff;
  font-size: 13px;
}
.container ul:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #fff;
}
.container ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.container ul li:not(:first-child) {
  margin-top: 60px;
}
.container ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
.container ul li > span:before, .container ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}
.container ul li span:after {
  top: 100%;
}
.container ul li > div {
  margin-left: 10px;
}
.container div .title, .container div .type {
  font-weight: 600;
  font-size: 12px;
}
.container div .info {
  font-weight: 300;
}
.container div > div {
  margin-top: 5px;
}
.container span.number {
  height: 100%;
}
.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.container span.number span:first-child {
  top: 0;
}
.container span.number span:last-child {
  top: 100%;
}

.transition{

  animation: fadeIn 2s;
  transition: visibility 2s;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.text-grad{
  
    background-image: linear-gradient(60deg, #E21143, #fdbc08);
    background-clip: text;
    color: transparent;
  
}

.yellow-grad{
 
  background-image: linear-gradient(to top, #f48119, #fb980a, #ffaf00, #f3c933, #ebcb01);
}
.purple-grad{
  background-image: linear-gradient(to top, #ba07cb, #be4ad8, #c46de4, #ca8aed, #d2a6f4);
}

.blueNav{
  background-color: #0d093b;
}
.blue-grad{
  background-image: linear-gradient(to top, #354dec, #0063f0, #0076f1, #3ba7fa, #27a1ff);
}
.orange-text-grad{
  background: #FFF826;
background: -webkit-linear-gradient(to right, #FFF826 0%, #FF7E29 100%);
background: -moz-linear-gradient(to right, #FFF826 0%, #FF7E29 100%);
background: linear-gradient(to right, #FFF826 0%, #FF7E29 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.purple-text-grad{
  background: #57C3CF;
background: -webkit-linear-gradient(to right, #57C3CF 0%, #8311CF 100%);
background: -moz-linear-gradient(to right, #57C3CF 0%, #8311CF 100%);
background: linear-gradient(to right, #57C3CF 0%, #8311CF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}